.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 300px;
  transition: 0.3s;
  margin: 20px 20px;
  border-radius: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  height: 100px;
  padding: 2px 16px;
}

.main-card {
  display: flex;
  justify-content: center;
}

.cnInput {
  font-weight: 600;
  width: 100%;
  margin: 10px 10px 10px 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.cnTextArea {
  font-weight: 100;
  margin: 5px 5px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

form {
  text-align: center;
}

.buttonC {
  position: absolute;
  bottom: -12px;
  right: 10px;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
  border-radius: 50px;
}

.buttonC:hover {
  background-color: rgb(230, 230, 230);
}
