.cardN {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 300px;
  transition: 0.3s;
  margin: 20px 20px;
  border-radius: 15px;
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.cardN:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.containerN {
  height: 100px;
  padding: 2px 16px;
}

.main-cardN {
  display: flex;
}

.NTitle {
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin: 10px 10px 0px 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.NText {
  text-align: left;
  font-weight: 100;
  margin: 0px 5px;
  padding: 0px 10px 10px 5px;
  width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.buttonN {
  bottom: -12px;
  right: 10px;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 1px 1px 1px rgb(255, 255, 255);
  border-radius: 50px;
  position: absolute;
}

.buttonN:hover {
  background-color: rgb(230, 230, 230);
}
